/*Google Fonts İnculde are */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lexend+Deca:wght@100..900&family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lexend+Deca:wght@100..900&family=Merienda:wght@300..900&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lexend+Deca:wght@100..900&family=Merienda:wght@300..900&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bad+Script&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lexend+Deca:wght@100..900&family=Merienda:wght@300..900&family=Redressed&display=swap');


/*

? Google fonts usage are


* Regular type:

.lexend-deca-<uniquifier> {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}


* Italıc type:

.merienda-<uniquifier> {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  .bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.merienda-<uniquifier> {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


* Monospace type:

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

*/